* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
  margin-inline: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0px;
}

.navbar .left {
  font-size: 32px;
  font-weight: bold;
}

.navbar .right {
  flex-basis: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .right a:link,
.navbar .right a:visited {
  text-decoration: none;
  color: #000;
}

.navbar .right a:hover,
.navbar .right a:active {
  text-decoration: underline;
}

.navbar .right img {
  width: 24px;
  height: 24px;
}

.navbar .bar {
  background-color: #000;
  height: 4px;
  width: 36px;
  border-radius: 10px;
}

.navbar .menu {
  height: 50px;
  width: 50px;
  display: none;
}

.project-grid {
  display: grid;
  grid-template-areas:
    "hike hike photographer"
    "hike hike space"
    "ai-chatbot cuber space"
    "animals schedule schedule"
    "animals schedule schedule"
    "fish-game fish-game fitness"
    "fish-game fish-game fitness";
  gap: 16px;
}

#hike {
  grid-area: hike;
}

#photographer {
  grid-area: photographer;
}

#space {
  grid-area: space;
}

#ai-chatbot {
  grid-area: ai-chatbot;
}

#cuber {
  grid-area: cuber;
}

#animals {
  grid-area: animals;
}

#schedule {
  grid-area: schedule;
}

#fish-game {
  grid-area: fish-game;
}

#fitness {
  grid-area: fitness;
}

.project {
  position: relative;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project .overlay {
  opacity: 0;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
}

.project .overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.footer {
  text-align: center;
  padding: 36px;
}

@media screen and (max-width: 725px) {
  .navbar .right {
    display: none;
  }

  .navbar .menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
  }

  .project-grid {
    grid-template-areas:
      "hike hike"
      "photographer space"
      "ai-chatbot cuber"
      "schedule schedule"
      "animals fitness"
      "fish-game fish-game";
  }

  .container {
    width: 95%;
    margin-inline: auto;
  }
}

@media screen and (max-width: 615px) {
  .project-grid {
    grid-template-areas:
      "hike hike"
      "photographer photographer"
      "space space"
      "ai-chatbot cuber"
      "schedule schedule"
      "animals animals"
      "fish-game fish-game"
      "fitness fitness";
  }
  .project .overlay {
    font-size: 24px;
  }
}
